.button {
    -fx-cursor: hand;
    -fx-background-color: white;
}

.button:hover {
    -fx-background-color: linear-gradient(to bottom, #f3f3f3, #ebeceb);
    -fx-font-weight: 600;
    -fx-font-size: 14px;
}

.button:pressed, .button.active {
  -fx-background-color: linear-gradient(to bottom, #f3f3f3, #ebeceb);
}

.table-view {
    -fx-background-radius: 5px; /* Raio dos cantos do plano de fundo */
}

.table-row-cell {
    -fx-background-radius: 5px; /* Raio dos cantos do plano de fundo das células */
}

.table-cell {
    -fx-background-radius: 5px; /* Raio dos cantos do plano de fundo das células */
}

#detailButton{
    -fx-background-color: #FFD179;  
}

#addButton{
    -fx-background-color: #A3CDFF;    
}

#deleteButton{
    -fx-background-color: #FFA179;
}

#editButton{
    -fx-background-color: #FDFFA3;
}

#detailButton:hover, #addButton:hover, #deleteButton:hover, #buttonForum:hover, #realizarPedido:hover, #editButton:hover, #deleteButton:hover, #addBdButton:hover{
    -fx-font-size: 12px;
}

#btnRefresh {
    -fx-font-size: 12px;
}

#buttonForum{
    -fx-background-color: #A3CDFF;
}

#realizarPedido{
    -fx-background-color: #A4FFA3;
}

#okPedido{
    -fx-background-color: #A4FFA3;
}

#addBdButton{
    -fx-background-color: #A4FFA3;
}